---
import {
  typographyVariants,
  type TypographyVariant,
  type TypographyVariants,
} from "@/styles/typography";
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";
import { match } from "ts-pattern";

export interface Props
  extends TypographyVariants,
    HTMLAttributes<"p" | "h1" | "h2" | "h3" | "h4" | "h5" | "h6"> {
  variant?: TypographyVariant;
}

const { variant, class: className, ...rest } = Astro.props;
---

{
  match(variant)
    .with("h1", () => (
      <h1 {...rest} class={cn(typographyVariants({ variant, class: className }))}>
        <slot />
      </h1>
    ))
    .with("h2", () => (
      <h2 {...rest} class={cn(typographyVariants({ variant, class: className }))}>
        <slot />
      </h2>
    ))
    .with("h3", () => (
      <h3 {...rest} class={cn(typographyVariants({ variant, class: className }))}>
        <slot />
      </h3>
    ))
    .with("h4", () => (
      <h4 {...rest} class={cn(typographyVariants({ variant, class: className }))}>
        <slot />
      </h4>
    ))
    .with("h5", () => (
      <h5 {...rest} class={cn(typographyVariants({ variant, class: className }))}>
        <slot />
      </h5>
    ))
    .with("h6", () => (
      <h6 {...rest} class={cn(typographyVariants({ variant, class: className }))}>
        <slot />
      </h6>
    ))
    .otherwise(() => (
      <p {...rest} class={cn(typographyVariants({ variant, class: className }))}>
        <slot />
      </p>
    ))
}
