---
import Layout from "@/layouts/page-layout.astro";
import { BookIcon, ChartColumnIcon, NewspaperIcon } from "lucide-react";
import Typography from "@/components/astro/typography.astro";
---

<Layout>
  <div class="flex flex-1 flex-col">
    <div class="my-auto">
      <div class="grid grid-cols-1 place-items-center gap-y-12 md:grid-cols-3">
        <a href="/scripts" class="space-y-2 text-center">
          <div>
            <BookIcon className="size-32 md:size-48" />
          </div>
          <Typography variant="label-lg">Scripts</Typography>
        </a>
        <div class="space-y-2 text-center">
          <NewspaperIcon className="text-foreground/50 size-32 md:size-48" />
          <Typography variant="caption">Posts (coming soon)</Typography>
        </div>
        <div class="space-y-2 text-center">
          <ChartColumnIcon className="text-foreground/50 size-32 md:size-48" />
          <Typography variant="caption">Stats (coming soon)</Typography>
        </div>
      </div>
    </div>
  </div>
</Layout>
