---
import Layout from "@/layouts/Layout.astro";
import { render, getEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const scripts = await getCollection("scripts");

  return Promise.all(
    scripts.map(async (script) => {
      const [base] = script.id.split("/");

      // TODO: likely a much better way to do this?
      const [changelog, readme] = await Promise.all([
        getEntry("scriptChangelogs", `${base}/changelog`),
        getEntry("scriptReadmes", `${base}/readme`),
      ]);

      return {
        params: { slug: script.id },
        props: { script, changelog, readme },
      };
    }),
  );
}

const { script, changelog, readme } = Astro.props;

const ChangelogContent = changelog ? (await render(changelog)).Content : null;
const ReadmeContent = readme ? (await render(readme)).Content : null;
---

<Layout>
  <div class="mt-12 grid grid-cols-1 gap-x-4 gap-y-8 lg:grid-cols-3">
    <pre>{JSON.stringify(script.data, null, 2)}</pre>
    <div class="prose">
      {ReadmeContent && <ReadmeContent />}
    </div>
    <div class="prose">
      {ChangelogContent && <ChangelogContent />}
    </div>
  </div>
</Layout>
