---
import Layout from "@/layouts/page-layout.astro";
import { getCollection } from "astro:content";
import { ScriptTable } from "@/components/react/script-table";
import { getScriptReadme, parseScriptData } from "@/utils/script";

const sortedScripts = (await getCollection("scripts", ({ id }) => !id.includes("/history/"))).sort(
  (a, b) => a.data[0].name.localeCompare(b.data[0].name),
);

const scripts = await Promise.all(
  sortedScripts.map(async (script) => {
    const parsedScript = parseScriptData(script);

    const readme = await getScriptReadme(script.id);

    return {
      ...parsedScript,
      readme: readme.data,
    };
  }),
);
---

<Layout>
  <div class="mt-8">
    <ScriptTable client:load scripts={scripts} />
  </div>
</Layout>
