---
import Typography from "@/components/astro/typography.astro";
import { Toaster } from "@/components/ui/sonner";
import "@/styles/index.css";
import { cn } from "@/utils/cn";

export type Props = {
  containerClass?: string;
};

const { containerClass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Librarian</title>
  </head>
  <body class="overflow-hidden">
    <div class="flex h-[100dvh] flex-col overflow-auto">
      <div class={cn("container mx-auto flex-1 mt-12 flex flex-col pb-12", containerClass)}>
        <div class="flex justify-center">
          <div class="space-y-1.5">
            <Typography variant="h1" class="text-center">Librarian</Typography>
            <Typography variant="caption" class="text-center">AbstractDevs</Typography>
          </div>
        </div>
        <slot />
      </div>
    </div>
    <Toaster client:load />
  </body>
</html>
